* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #eee;
}

header {
  font-size: 64px;
  letter-spacing: 32px;
  font-family: sans-serif;
  border-bottom: 1px solid white;
  margin-bottom: 64px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.palette {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.palette button {
  transition: all .3s ease;
  flex: 0 0 64px;
  width: 64px;
  border: none;
  border: 1px solid black;
}

.palette button.active {
  border: 4px solid gold;
  transform: scale(1.3) rotate(45deg);
}

.grid {
  width: 514px;
  height: 514px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 48px;
  border: 1px solid black;
  background: #ccc;
}

.cell {
  flex: 0 0 64px;
  height: 64px;
  border: 1px solid black;
}

